[flake8]
max-line-length = 88
extend-ignore = E203
exclude = .git,__pycache__,build,dist
per-file-ignores =
    __init__.py:F401
    test_*.py:D100,D101,D102,D103,D107
docstring-convention = google
import-order-style = google
inline-quotes = double 